<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GearFactory.Properties.Settings.GEAR_FACTORY_DBConnectionString"
            connectionString="Data Source=.;Initial Catalog=GEAR_FACTORY_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>